# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
.idea/

results_images/
keras_frcnn/
images/
backup/
models/
data/
datav2/
save_dota_aug_train_change/
SmallObjectAugmentation_2/

*.h5
*.hdf5

train_labels.txt
val_labels.txt



